@* Copyright (c) 1994-2014 Sage Software, Inc.  All rights reserved. *@
@*@using Sage.CA.SBS.ERP.Sage300.VPF.Resources*@

<svg width="670" height="1400" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g class="ap">
        <title>AP</title>
        <g transform="matrix(0.5322834253311156,0,0,0.605972,11.628350108861923,47.1279) " id="svg_50">
            <svg x="30" y="-621.14935" viewBox="0 0 330 60" id="svg_1" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" id="svg_2" />
            </svg>
        </g>
        <g id="svg_10" transform="matrix(0.5322834253311156,0,0,0.5050012514929771,11.628350108861923,67.43370095028527) ">
            <svg id="svg_3" x="28" y="-435" viewBox="0 0 330 60" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path id="svg_4" fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" />
            </svg>
        </g>
        <g id="svg_27" transform="matrix(0.5834115454389629,0,0,1.5719078107693232,7.629541304383912,-354.3245595149588) ">
            <svg id="svg_5" x="36" y="-236" viewBox="0 0 330 60" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path id="svg_9" fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" />
            </svg>
        </g>
       <a id="svg_49" xlink:href="javascript:EventListenter_VPF('AP','InvoiceEntry','');">
            <text id="svg_7" transform="matrix(0.9652999999999999,0,0,1,69.9995,33.8872) " y="0" x="0">APResx.EnterVendorInvoices</text>
            <path id="svg_6" d="m30,0c-16.6,0 -30,13.40002 -30,30s13.4,29.99999 30,29.99999s30,-13.40002 30,-29.99999s-13.4,-30 -30,-30zm-10.4,22.5c-0.8,-0.79999 -0.8,-2.09998 0,-2.90003c0.8,-0.79998 2.1,-0.79998 2.9,0c0.4,0.40003 1.5,1.5 1.5,1.5l-1.5,1.5l-1.4,1.40003c0,0 -1,-1 -1.5,-1.5zm5.1,-0.70001l8.6,8.60003l0.7,3.59997l-3.6,-0.70001l-8.6,-8.59997l2.9,-2.90002zm13.3,14.2c0,1.09998 -0.90001,2 -2,2l-12,0c-1.1,0 -2,-0.90002 -2,-2l0,-6.90002l2,2l0,4.90002l12,0l0,-11.99999l-4.9,0l-2,-2l6.9,0c1.09999,0 2,0.90002 2,2l0,11.99999z" fill="#007F64" />
        </a>
       <a id="svg_59" xlink:href="javascript:EventListenter_VPF('AP','PaymentEntry','');">
            <text transform="matrix(0.9652999999999999,0,0,1,69.9995,33.8872) " y="110" x="0" id="svg_78">APResx.MakePayments</text>
            <path d="m29.99999,110c-16.59999,0 -29.99999,13.40003 -29.99999,30.00002s13.4,29.99995 29.99999,29.99995s30,-13.39999 30,-29.99995s-13.4,-30.00002 -30,-30.00002zm-10.4,22.5c-0.79998,-0.79999 -0.79998,-2.09998 0,-2.89999c0.80001,-0.79999 2.10001,-0.79999 2.90001,0c0.4,0.40001 1.5,1.5 1.5,1.5l-1.5,1.5l-1.40001,1.40001c0,0 -1,-1 -1.5,-1.50002zm5.10001,-0.69998l8.60001,8.60004l0.69998,3.59996l-3.59999,-0.7l-8.59999,-8.59998l2.89999,-2.89999l0,-0.00003zm13.29999,14.19995c0,1.10001 -0.9,2 -2,2l-11.99999,0c-1.1,0 -2,-0.89999 -2,-2l0,-6.89996l2,2l0,4.89996l11.99999,0l0,-11.99995l-4.9,0l-2,-2l6.9,0c1.1,0 2,0.90002 2,2l0,11.99995z" fill="#007F64" id="svg_79" />
        </a>
        <a id="svg_98" xlink:href="javascript:EventListenter_VPF('AP','Vendor','');">
            <text id="svg_63" transform="matrix(0.9652999999999999,0,0,1,70.4995,34.3872) " y="0" x="352">APResx.VendorRecords</text>
            <g id="svg_32">
                <path fill="#6639b7" d="m370,26.2c-2.10001,0 -3.79999,1.7 -3.79999,3.8s1.69998,3.8 3.79999,3.8s3.79999,-1.7 3.79999,-3.8s-1.69998,-3.8 -3.79999,-3.8zm0,6.1c-1.20001,0 -2.29999,-1 -2.29999,-2.3c0,-1.2 1,-2.3 2.29999,-2.3c1.20001,0 2.29999,1 2.29999,2.3c0,1.2 -1.09998,2.3 -2.29999,2.3z" id="svg_33" />
                <path fill="#6639b7" d="m370,0c-16.60001,0 -30,13.4 -30,30s13.39999,30 30,30s30,-13.4 30,-30s-13.39999,-30 -30,-30zm7.5,32.1c-0.20001,0.6 -0.39999,1.2 -0.70001,1.8c0.90002,1.6 0.90002,2.6 0.30002,3.2s-1.60001,0.6 -3.20001,-0.3c-0.60001,0.3 -1.19998,0.6 -1.79999,0.7c-0.5,1.8 -1.30002,2.5 -2.10001,2.5s-1.60001,-0.7 -2.10001,-2.5c-0.60001,-0.2 -1.19998,-0.4 -1.79999,-0.7c-1.60001,0.9 -2.60001,0.9 -3.20001,0.3c-0.60001,-0.6 -0.60001,-1.6 0.30002,-3.2c-0.30002,-0.6 -0.60001,-1.2 -0.70001,-1.8c-1.79999,-0.5 -2.5,-1.3 -2.5,-2.1s0.70001,-1.6 2.5,-2.1c0.20001,-0.6 0.39999,-1.2 0.70001,-1.8c-0.90002,-1.6 -0.90002,-2.6 -0.30002,-3.2s1.60001,-0.6 3.20001,0.3c0.60001,-0.3 1.19998,-0.6 1.79999,-0.7c0.5,-1.8 1.30002,-2.5 2.10001,-2.5s1.60001,0.7 2.10001,2.5c0.60001,0.2 1.19998,0.4 1.79999,0.7c1.60001,-0.9 2.60001,-0.9 3.20001,-0.3c0.60001,0.6 0.60001,1.6 -0.30002,3.2c0.30002,0.6 0.60001,1.2 0.70001,1.8c1.79999,0.5 2.5,1.3 2.5,2.1s-0.70001,1.6 -2.5,2.1z" id="svg_36" />
            </g>
        </a>
        <g id="collapse_80">
            <a id="svg_109" xlink:href="javascript:EventListenter_VPF('AP','VendorActivity','');">
                <text id="svg_35" transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="219" x="426">APResx.VendorActivities</text>
                <path id="svg_34" d="m425.11414,222.62981c1.39999,1.29999 2.29999,3 2.59998,4.89999s0.10001,3.79999 -0.79999,5.5c-0.5,0.89999 -1.10001,1.79999 -1.79999,2.5c-0.70001,0.70001 -1.5,1.20001 -2.30002,1.70001c-1.89999,0.89999 -3.79999,1.09998 -5.79999,0.69998c-1.30002,-0.29999 -2.60001,-0.89999 -3.60001,-1.69998c-1.10007,-0.80002 -1.89999,-1.90002 -2.5,-3.10001c-0.79999,-1.80003 -1.10007,-3.60017 -0.79999,-5.5s1.19992,-3.5 2.59998,-4.89999c1.5,-1.60001 3.20001,-2.40002 5.20001,-2.70001c2.79999,-0.20001 5.20001,0.60001 7.20001,2.60001zm-6.30002,4.19998c-0.79999,0.10001 -1.5,0.60001 -2.10001,1.30002c-0.59998,0.60001 -0.79999,1 -0.5,1.10001c0.10001,0.09999 0.30002,-0.10001 0.60001,-0.40001c0.20001,-0.29999 0.39999,-0.5 0.60001,-0.69997c0.39999,-0.39999 0.70001,-0.39999 0.79999,-0.10002c0,0.10002 -0.19998,0.79999 -0.69998,2c-0.5,1.2 -0.80002,2 -0.89999,2.29999c-0.19992,0.70001 -0.30002,1.20001 -0.30002,1.5s0.20001,0.60002 0.39999,0.70001c0.30002,0.2 0.70001,0.2 1.30002,0c0.89999,-0.3 1.69998,-0.89998 2.5,-1.70001c0.5,-0.5 0.60001,-0.89998 0.39999,-1c-0.10001,0 -0.29999,0.20001 -0.70001,0.60002c-0.59998,0.70001 -1,0.89998 -1.09998,0.80002c-0.10001,-0.10001 -0.10001,-0.30002 0,-0.7c0.09998,-0.3999 0.39999,-1.10002 0.79999,-2.10002c0.5,-1.19998 0.70001,-2 0.70001,-2.19998c0.19998,-0.80002 0,-1.30002 -0.60001,-1.40001c-0.39999,-0.19989 -0.80002,-0.19989 -1.20001,0l0,-0.00003l0,-0.00002zm1.20001,-3.19998c-0.30002,0.10001 -0.5,0.29999 -0.70001,0.5c-0.19998,0.29999 -0.19998,0.60001 -0.19998,0.89999c0.09998,0.60001 0.39999,0.89999 1.09998,1c0.40002,0 0.70001,-0.10001 1,-0.39999c0.30002,-0.30002 0.40002,-0.60001 0.40002,-1c0,-0.60001 -0.20001,-0.89999 -0.70001,-1.10001c-0.29999,0 -0.60001,0 -0.89999,0.10001z" fill="#7A7B7C" />
            </a>
            <a id="svg_111" xlink:href="javascript:EventListenter_VPF('AP','CPRSInquiry','');">
                <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="249" x="426" id="svg_299">APResx.CPRS</text>
                <path d="m425.11414,252.62982c1.39999,1.29999 2.29999,3 2.59998,4.89999s0.10001,3.79999 -0.79999,5.5c-0.5,0.89999 -1.10001,1.79999 -1.79999,2.5c-0.70001,0.70001 -1.5,1.20001 -2.30002,1.70001c-1.89999,0.89999 -3.79999,1.09998 -5.79999,0.69998c-1.30002,-0.29999 -2.60001,-0.89999 -3.60001,-1.69998c-1.10007,-0.80002 -1.89999,-1.90002 -2.5,-3.10001c-0.79999,-1.80002 -1.10007,-3.60013 -0.79999,-5.5s1.19992,-3.50014 2.59998,-4.90002c1.5,-1.60002 3.20001,-2.40005 5.20001,-2.70004c2.79999,-0.20001 5.20001,0.60002 7.20001,2.60002l0,0.00003l0,0.00002zm-6.30002,4.19998c-0.79999,0.10001 -1.5,0.60001 -2.10001,1.30002c-0.59998,0.60001 -0.79999,1 -0.5,1.10001c0.10001,0.09998 0.30002,-0.10001 0.60001,-0.40002c0.20001,-0.29999 0.39999,-0.5 0.60001,-0.69998c0.39999,-0.39999 0.70001,-0.39999 0.79999,-0.10001c0,0.10001 -0.19998,0.79999 -0.69998,2c-0.5,1.20001 -0.80002,2 -0.89999,2.29999c-0.19992,0.70001 -0.30002,1.20001 -0.30002,1.5s0.20001,0.60001 0.39999,0.70001c0.30002,0.20001 0.70001,0.20001 1.30002,0c0.89999,-0.29999 1.69998,-0.89999 2.5,-1.70001c0.5,-0.5 0.60001,-0.89999 0.39999,-1c-0.10001,0 -0.29999,0.20001 -0.70001,0.60001c-0.59998,0.70001 -1,0.89999 -1.09998,0.80002c-0.10001,-0.10001 -0.10001,-0.30002 0,-0.70001c0.09998,-0.39981 0.39999,-1.10001 0.79999,-2.10001c0.5,-1.19998 0.70001,-2 0.70001,-2.19998c0.19998,-0.80002 0,-1.30002 -0.60001,-1.39993c-0.39999,-0.19989 -0.80002,-0.19989 -1.20001,0l0,0l0,0l0,0l0,0l0,0l0,0l0,-0.00003l0,-0.00003l0,-0.00003zm1.20001,-3.19998c-0.30002,0.10001 -0.5,0.29999 -0.70001,0.5c-0.19998,0.29999 -0.19998,0.60001 -0.19998,0.89999c0.09998,0.60001 0.39999,0.89998 1.09998,1c0.40002,0 0.70001,-0.10002 1,-0.39999c0.30002,-0.30002 0.40002,-0.60001 0.40002,-1c0,-0.60001 -0.20001,-0.89999 -0.70001,-1.10001c-0.29999,0 -0.60001,0 -0.89999,0.10001z" fill="#7A7B7C" id="svg_300" />
            </a>
            <a id="svg_122" xlink:href="javascript:EventListenter_VPF('AP','PaymentInquiry','');">
                <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="279" x="426" id="svg_302">APResx.Payment</text>
                <path d="m425.11975,282.62982c1.375,1.29999 2.28125,3 2.59375,4.89999s0.09375,3.79999 -0.8125,5.5c-0.5,0.89999 -1.09375,1.79999 -1.78125,2.5c-0.71875,0.70001 -1.5,1.20001 -2.3125,1.70001c-1.90625,0.89999 -3.8125,1.09998 -5.8125,0.69998c-1.28125,-0.29999 -2.59375,-0.89999 -3.59375,-1.69998c-1.09375,-0.80002 -1.90625,-1.90002 -2.5,-3.10001c-0.78125,-1.80002 -1.09375,-3.60013 -0.78125,-5.5s1.1875,-3.5 2.59375,-4.89999c1.5,-1.60001 3.1875,-2.40002 5.1875,-2.70001c2.8125,-0.20001 5.21875,0.60001 7.21875,2.60001zm-6.3125,4.19998c-0.8125,0.10001 -1.5,0.60001 -2.09375,1.30002c-0.59375,0.60001 -0.8125,1 -0.5,1.10001c0.09375,0.09998 0.28125,-0.10001 0.59375,-0.40002c0.1875,-0.29999 0.40625,-0.5 0.59375,-0.69998c0.40625,-0.39999 0.71875,-0.39999 0.8125,-0.10001c0,0.10001 -0.21875,0.79999 -0.71875,2c-0.5,1.20001 -0.78125,2 -0.875,2.29999c-0.21875,0.70001 -0.3125,1.20001 -0.3125,1.5s0.1875,0.60001 0.40625,0.70001c0.28125,0.20001 0.6875,0.20001 1.28125,0c0.90625,-0.29999 1.71875,-0.89999 2.5,-1.70001c0.5,-0.5 0.625,-0.89999 0.40625,-1c-0.09375,0 -0.28125,0.20001 -0.6875,0.60001c-0.59375,0.70001 -1,0.89999 -1.09375,0.80002c-0.125,-0.10001 -0.125,-0.30002 0,-0.70001c0.09375,-0.39981 0.375,-1.10001 0.78125,-2.10001c0.5,-1.19998 0.71875,-2 0.71875,-2.19998c0.1875,-0.80002 0,-1.30002 -0.625,-1.39993c-0.375,-0.19989 -0.78125,-0.19989 -1.1875,0l0,0l0,0l0,0l0,0l0,0l0,0l0,-0.00003l0,-0.00003l0,-0.00003zm1.1875,-3.19998c-0.28125,0.10001 -0.5,0.29999 -0.6875,0.5c-0.1875,0.29999 -0.1875,0.60001 -0.1875,0.89999c0.09375,0.60001 0.375,0.89999 1.09375,1c0.40625,0 0.6875,-0.10001 1,-0.39999c0.28125,-0.30002 0.40625,-0.60001 0.40625,-1c0,-0.60001 -0.21875,-0.89999 -0.71875,-1.10001c-0.28125,0 -0.59375,0 -0.90625,0.10001z" fill="#7A7B7C" id="svg_303" />
            </a>
            <g id="Title_75">
                <g id="svg_14">
                    <text id="svg_12" transform="matrix(0.9652999999999999,0,0,1,74.4995,-29.6128) " y="224" x="348">APResx.InquiriesAndStatistics</text>
                    <path id="svg_17" d="m370,160c-16.60001,0 -30,13.39998 -30,30s13.39999,30 30,30s30,-13.39999 30,-30s-13.39999,-30 -30,-30zm0,56c-14.29999,0 -26,-11.70001 -26,-26c0,-14.29999 11.70001,-26 26,-26c14.30002,0 26,11.70001 26,26c0,14.29999 -11.69998,26 -26,26z" fill="#79bac3" />
                    <path id="svg_16" d="m372.90002,194.29999c-0.20001,-0.09998 -0.60001,0.30002 -1.20001,1c-1.10001,1.20001 -1.80002,1.70001 -2,1.40002c-0.20001,-0.20001 -0.20001,-0.60001 0,-1.20001c0.29999,-0.60001 0.69998,-1.89999 1.39999,-3.70001c0.79999,-2.19998 1.30002,-3.5 1.30002,-3.89999c0.29999,-1.39998 -0.10001,-2.19997 -1.10001,-2.5c-0.60001,-0.19997 -1.30002,-0.10001 -2.10001,0.10002c-1.30002,0.29999 -2.5,1.10002 -3.70001,2.39998c-1,1 -1.29999,1.70001 -0.89999,1.89999c0.20001,0.10001 0.60001,-0.19998 1.10001,-0.79999c0.39999,-0.5 0.79999,-0.89999 1.10001,-1.20001c0.79999,-0.69998 1.19998,-0.79999 1.39999,-0.19998c0.10001,0.19998 -0.39999,1.29999 -1.30002,3.60002c-0.79999,2.09998 -1.29999,3.5 -1.59998,4c-0.40002,1.19997 -0.5,2.09998 -0.5,2.59998c0.09998,0.60002 0.29999,1 0.79999,1.20001c0.60001,0.29999 1.29999,0.29999 2.29999,0.10002c1.60001,-0.5 3.10001,-1.5 4.40002,-3c0.89999,-0.89999 1.10001,-1.5 0.60001,-1.80003l0,-0.00002z" fill="#79bac3" />
                    <path id="svg_15" d="m372.90002,179.89999c-0.5,-0.19998 -1.00003,-0.19998 -1.50003,0s-1,0.5 -1.19998,1s-0.39999,1 -0.39999,1.60001c0.09998,1.10002 0.69998,1.70001 1.89999,1.70001c0.70001,0.09998 1.29999,-0.20001 1.79999,-0.60001c0.5,-0.5 0.80002,-1 0.80002,-1.70001c-0.10001,-1.10002 -0.5,-1.69998 -1.39999,-2z" fill="#79bac3" />
                </g>
            </g>
        </g>
        <g id="collapse_86">
            <a id="svg_66" xlink:href="javascript:EventListenter_VPF('AP','BatchListing','');">
                <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " id="svg_47" y="279.125" x="72">APResx.BatchList</text>
                <g id="svg_38">
                    <rect x="82" y="289.125" fill="#7A7B7C" width="2" height="5" id="svg_46" />
                    <rect x="79" y="283.125" fill="#7A7B7C" width="2" height="11" id="svg_45" />
                    <rect x="76" y="287.125" fill="#7A7B7C" width="2" height="7" id="svg_44" />
                    <rect x="73" y="281.125" fill="#7A7B7C" width="2" height="13" id="svg_43" />
                    <rect x="70" y="291.125" fill="#7A7B7C" width="2" height="3" id="svg_41" />
                    <rect x="70" y="295.125" fill="#7A7B7C" width="17" height="1" id="svg_40" />
                    <rect x="85" y="285.125" fill="#7A7B7C" width="2" height="9" id="svg_39" />
                </g>
            </a>
            <a id="svg_76" xlink:href="javascript:EventListenter_VPF('AP','CheckRegister','');">
                <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="308" x="72" id="svg_113">APResx.CheckRegister</text>
                <g id="svg_114">
                    <rect x="82" y="318" fill="#7A7B7C" width="2" height="5" id="svg_115" />
                    <rect x="79" y="312" fill="#7A7B7C" width="2" height="11" id="svg_116" />
                    <rect x="76" y="316" fill="#7A7B7C" width="2" height="7" id="svg_117" />
                    <rect x="73" y="310" fill="#7A7B7C" width="2" height="13" id="svg_118" />
                    <rect x="70" y="320" fill="#7A7B7C" width="2" height="3" id="svg_119" />
                    <rect x="70" y="324" fill="#7A7B7C" width="17" height="1" id="svg_120" />
                    <rect x="85" y="314" fill="#7A7B7C" width="2" height="9" id="svg_121" />
                </g>
            </a>
            <a id="svg_77" xlink:href="javascript:EventListenter_VPF('AP','GLTransaction','');">
                <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="338.5625" x="72" id="svg_124">APResx.GLTransactions</text>
                <g id="svg_125">
                    <rect x="82" y="348" fill="#7A7B7C" width="2" height="5" id="svg_126" />
                    <rect x="79" y="342" fill="#7A7B7C" width="2" height="11" id="svg_127" />
                    <rect x="76" y="346" fill="#7A7B7C" width="2" height="7" id="svg_128" />
                    <rect x="73" y="340" fill="#7A7B7C" width="2" height="13" id="svg_129" />
                    <rect x="70" y="350" fill="#7A7B7C" width="2" height="3" id="svg_130" />
                    <rect x="70" y="354" fill="#7A7B7C" width="17" height="1" id="svg_131" />
                    <rect x="85" y="344" fill="#7A7B7C" width="2" height="9" id="svg_132" />
                </g>
            </a>
            <a id="svg_81" xlink:href="javascript:EventListenter_VPF('AP','PostingError','');">
                <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="368.5625" x="72" id="svg_145">APResx.PostingErrors</text>
                <g id="svg_146">
                    <rect x="82" y="378" fill="#7A7B7C" width="2" height="5" id="svg_147" />
                    <rect x="79" y="372" fill="#7A7B7C" width="2" height="11" id="svg_148" />
                    <rect x="76" y="376" fill="#7A7B7C" width="2" height="7" id="svg_149" />
                    <rect x="73" y="370" fill="#7A7B7C" width="2" height="13" id="svg_150" />
                    <rect x="70" y="380" fill="#7A7B7C" width="2" height="3" id="svg_151" />
                    <rect x="70" y="384" fill="#7A7B7C" width="17" height="1" id="svg_152" />
                    <rect x="85" y="374" fill="#7A7B7C" width="2" height="9" id="svg_153" />
                </g>
            </a>
            <g id="Title_82">
                <text transform="matrix(0.9653,0,0,1,69.9995,34.8872) " id="svg_31" y="221" x="0">APResx.TransactionReports</text>
                <g id="svg_20">
                    <path fill="#007F64" d="m30,220c-16.6,0 -30,13.39999 -30,30s13.4,30 30,30s30.00002,-13.39999 30.00002,-30s-13.40001,-30 -30.00002,-30zm0,56c-14.3,0 -26,-11.70001 -26,-26c0,-14.29999 11.7,-26 26,-26s26.00002,11.70001 26.00002,26c0,14.29999 -11.70001,26 -26.00002,26z" id="svg_30" />
                    <g id="svg_21">
                        <rect x="33" y="250.00003" fill="#007F64" width="2" height="5" id="svg_29" />
                        <rect x="29" y="244" fill="#007F64" width="2" height="11" id="svg_28" />
                        <rect x="26" y="248" fill="#007F64" width="2" height="7" id="svg_26" />
                        <rect x="23" y="242" fill="#007F64" width="2" height="13" id="svg_25" />
                        <rect x="20" y="252" fill="#007F64" width="2" height="3" id="svg_24" />
                        <rect x="20" y="256" fill="#007F64" width="17" height="1" id="svg_23" />
                        <rect x="36" y="246" fill="#007F64" width="2" height="9" id="svg_22" />
                    </g>
                </g>
            </g>
        </g>
        <g id="collapse_88">
            <a id="svg_83" xlink:href="javascript:EventListenter_VPF('AP','AgedCashRequirement','');">
                <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="498" x="72" id="svg_266">APResx.AgedCashRequirements</text>
                <g id="svg_267">
                    <rect x="82" y="508" fill="#7A7B7C" width="2" height="5" id="svg_268" />
                    <rect x="79" y="502" fill="#7A7B7C" width="2" height="11" id="svg_269" />
                    <rect x="76" y="506" fill="#7A7B7C" width="2" height="7" id="svg_270" />
                    <rect x="73" y="500" fill="#7A7B7C" width="2" height="13" id="svg_271" />
                    <rect x="70" y="510" fill="#7A7B7C" width="2" height="3" id="svg_272" />
                    <rect x="70" y="514" fill="#7A7B7C" width="17" height="1" id="svg_273" />
                    <rect x="85" y="504" fill="#7A7B7C" width="2" height="9" id="svg_274" />
                </g>
            </a>
            <a id="svg_85" xlink:href="javascript:EventListenter_VPF('AP','AgedRetainage','');">
                <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="528" x="72" id="svg_276">APResx.AgedRetainage</text>
                <g id="svg_277">
                    <rect x="82" y="538" fill="#7A7B7C" width="2" height="5" id="svg_278" />
                    <rect x="79" y="532" fill="#7A7B7C" width="2" height="11" id="svg_279" />
                    <rect x="76" y="536" fill="#7A7B7C" width="2" height="7" id="svg_280" />
                    <rect x="73" y="530" fill="#7A7B7C" width="2" height="13" id="svg_281" />
                    <rect x="70" y="540" fill="#7A7B7C" width="2" height="3" id="svg_282" />
                    <rect x="70" y="544" fill="#7A7B7C" width="17" height="1" id="svg_283" />
                    <rect x="85" y="534" fill="#7A7B7C" width="2" height="9" id="svg_284" />
                </g>
            </a>
            <a id="svg_87" xlink:href="javascript:EventListenter_VPF('AP','VendorTransaction','');">
                <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="558" x="72" id="svg_286">APResx.VendorTransactions</text>
                <g id="svg_287">
                    <rect x="82" y="568" fill="#7A7B7C" width="2" height="5" id="svg_288" />
                    <rect x="79" y="562" fill="#7A7B7C" width="2" height="11" id="svg_289" />
                    <rect x="76" y="566" fill="#7A7B7C" width="2" height="7" id="svg_290" />
                    <rect x="73" y="560" fill="#7A7B7C" width="2" height="13" id="svg_291" />
                    <rect x="70" y="570" fill="#7A7B7C" width="2" height="3" id="svg_292" />
                    <rect x="70" y="574" fill="#7A7B7C" width="17" height="1" id="svg_293" />
                    <rect x="85" y="564" fill="#7A7B7C" width="2" height="9" id="svg_294" />
                </g>
            </a>
            <a id="svg_11" xlink:href="javascript:EventListenter_VPF('AP','AgedPayable','');">
                <text id="svg_13" transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="587" x="72">APResx.AgedPayables</text>
                <g id="svg_18">
                    <rect id="svg_19" x="82" y="597" fill="#7A7B7C" width="2" height="5" />
                    <rect id="svg_37" x="79" y="591" fill="#7A7B7C" width="2" height="11" />
                    <rect id="svg_42" x="76" y="595" fill="#7A7B7C" width="2" height="7" />
                    <rect id="svg_48" x="73" y="589" fill="#7A7B7C" width="2" height="13" />
                    <rect id="svg_51" x="70" y="599" fill="#7A7B7C" width="2" height="3" />
                    <rect id="svg_65" x="70" y="603" fill="#7A7B7C" width="17" height="1" />
                    <rect id="svg_67" x="85" y="593" fill="#7A7B7C" width="2" height="9" />
                </g>
            </a>
            <g id="Title_84">
                <text transform="matrix(0.9652999999999999,0,0,1,69.9995,34.8872) " y="437" x="0" id="svg_160">APResx.AnalyticalReports</text>
                <g id="svg_161">
                    <path fill="#007F64" d="m30.75,437.75c-16.6,0 -30,13.40002 -30,30s13.4,30 30,30s30,-13.39996 30,-30s-13.4,-30 -30,-30zm0,56c-14.3,0 -26,-11.70001 -26,-26c0,-14.29999 11.7,-26 26,-26s26,11.70001 26,26c0,14.29999 -11.7,26 -26,26z" id="svg_162" />
                    <g id="svg_163">
                        <rect x="33" y="467" fill="#007F64" width="2" height="5" id="svg_164" />
                        <rect x="30" y="461" fill="#007F64" width="2" height="11" id="svg_165" />
                        <rect x="27" y="465" fill="#007F64" width="2" height="7" id="svg_166" />
                        <rect x="24" y="459" fill="#007F64" width="2" height="13" id="svg_167" />
                        <rect x="21" y="469" fill="#007F64" width="2" height="3" id="svg_168" />
                        <rect x="21" y="473" fill="#007F64" width="17" height="1" id="svg_169" />
                        <rect x="36" y="463" fill="#007F64" width="2" height="9" id="svg_170" />
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>