@*Render KendoUI JS*@
@Scripts.Render("~/bundles/kendo/kendoSage")
@*Render Css Kendo UI*@
@Styles.Render("~/Content/kendo/cssKendo")
<div id = "test"></div>
<div id = "Kendotester"></div>


<script>
$(function(){


$("#Kendotester").kendoDatePicker();


});
</script>

